.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

p[data-placeholder="Give me a name"] {
  font-size: 24px;
}

p[data-placeholder="Write what went into this design or add any details you’d like to mention"] {
  font-size: clamp(1rem, 3vw, 1.3rem);
}

.tiptap h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.tiptap h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
