#description {
  h1 {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    line-height: 38px;
  }

  h2 {
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 700;
    line-height: 29px;
  }

  h3 {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 600;
    line-height: 24px;
  }

  a {
    text-decoration: underline;
    text-decoration-color: purple;
  }

  p {
    font-size: clamp(16px, 2vw, 20px);
  }
}
